DB_NAME=sdc
DB_USER=postgres
DB_PASSWORD=change-this-db-password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=change-this-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,SERVER_IP
CORS_ALLOWED_ORIGINS=http://SERVER_IP,http://localhost:4200,http://127.0.0.1:4200
